@import "./typography.css";

code {
    background: #eee;
    padding: .1rem;
    font-family: 'Menlo';
    font-size: 13px;
    color: #ff00aa;
  }

  .email-box {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    /* background-color: #00003d; */
  }

  .email-card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
  }

  .email-field {
    width: 100%;
  }

  .card-title {
    font-family: "HammersmithOne";
    font-size: 2rem;
  }

  .errorMessage {
    color: red;
    margin-top: 0.5rem;
  }

  .sign-up-button {
    font-family: "HammersmithOne";
  }
