.celeb-photo {
    width: 200px;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-card {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }